:root {
  /* Container */
  --pages-dark-mode: rgb(42, 42, 42);
  --pages-light-mode: rgb(228, 228, 228);
  /* Side Menu */
  --side-menu-dark-mode: rgb(17, 17, 17);
  --side-menu-light-mode: rgb(204, 202, 202);
  --nav-text-light-mode: rgb(42, 42, 42);
  --nav-text-dark-mode: rgb(228, 228, 228);
  /* Toggle Colors */
  --toggle-body: var(--pages-light-mode);
  --toggle-nav: var(--side-menu-light-mode);
  --toggle-text: var(--nav-text-light-mode);
  --picked-color: #ed3824;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--toggle-body);
  height: 100vh;
  overflow: hidden;
}
.side-menu {
  position: absolute;
  left: 0;
  z-index: 1;
  /* ---- */
  background-color: var(--toggle-nav);
  color: var(--toggle-text);
  width: 10%;
  height: 100vh;
  float: left;
  text-align: center;
}
.side-menu > ul > li {
  list-style: none;
  padding: 20px;
  cursor: pointer;
}
.side-menu > ul > li:hover {
  background-color: var(--picked-color);
}
.side-menu > ul > li:hover a {
  color: white;
}
.side-menu ul > li > a {
  text-decoration: none;
  color: var(--toggle-text);
  font-size: 20px;
}
/* ~~~~~~~~~~ Container ~~~~~~~~~~ */
.container {
  position: absolute;
  left: 10%;
  z-index: 0;
  /* ---- */
  width: 90%;
  height: 100vh;
  background-color: var(--toggle-body);
  color: var(--toggle-text);
  float: left;
  overflow: hidden;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* For testing Only */

  font-size: 50px;
}
.left,
.right {
  float: left;
  margin-top: 20px;
  width: 45vw;
  height: 500px;
  border: 1px solid black;
}
@keyframes slideOut {
  from {
    left: 10%;
  }
  to {
    left: -90%;
  }
}
@keyframes slideIn {
  from {
    left: 100%;
  }
  to {
    left: 10%;
  }
}
.prog-container {
  width: 200px;
  height: 15px;
  background-color: black;
  border-radius: 25px;
  margin: 20px;
}
.prog-bar {
  width: 75%;
  height: 100%;
  border-radius: 25px;
  background-color: var(--picked-color);
  text-align: center;
}
.prog-container:nth-child(2) > .prog-bar {
  width: 35%;
}
.prog-container:nth-child(3) > .prog-bar {
  width: 95%;
}
.prog-container:nth-child(4) > .prog-bar {
  width: 15%;
}
/* ~~~~~~~~~~ Logo ~~~~~~~~~~ */
.logo {
  margin: 30px 0px;
}
/* ~~~~~~~~~~ Color Change buttons ~~~~~~~~~~ */
.clr {
  position: relative;
  left: 50%;
  margin-left: -15px;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}
#red {
  background-color: #4322f0;
}
#green {
  background-color: #9a25f7;
}
#blue {
  background-color: #d72de0;
}
#yellow {
  background-color: #ed3824;
}

/* ~~~~~~~~~~~ Dark / Light Mode ~~~~~~~~~~ */
.mode-toggle {
  width: 60px;
  height: 30px;
  border-radius: 25px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  margin: 20px 0px;
  cursor: pointer;
}
.toggle {
  position: relative;
  top: -1px;
  left: -1px;
  width: 32px;
  height: 32px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: aliceblue;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes toDark {
  from {
    left: -1px;
  }
  to {
    left: 61px;
  }
}
@keyframes toLight {
  from {
    left: 61px;
  }
  to {
    left: -1px;
  }
}
