:root {
  /* Container */
  --pages-dark-mode: rgb(42, 42, 42);
  --pages-light-mode: rgb(228, 228, 228);
  /* Side Menu */
  --side-menu-dark-mode: rgb(17, 17, 17);
  --side-menu-light-mode: rgb(176, 176, 176);
  --nav-text-light-mode: rgb(42, 42, 42);
  --nav-text-dark-mode: rgb(228, 228, 228);
  /* Toggle Colors */
  --toggle-body: var(--pages-light-mode);
  --toggle-nav: var(--side-menu-light-mode);
  --toggle-text: var(--nav-text-light-mode);
  --picked-color: #ed3824;
  /* Font-sizes */
  --heading-font-size: 3vw; /* Needs to Change */
  --content-font-size: 2vw; /* Needs to Change */
  /* Buttom */
  --button-font-color: rgb(228, 228, 228);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--toggle-body);
  height: 100vh;
  overflow-x: hidden;
}
/* ~~~~~~~~~~ Side Menu ~~~~~~~~~~ */
/* ~~~~~~~~~~ Logo ~~~~~~~~~~ */
.logo {
  margin: 30px 0px;
}
.side-menu {
  position: absolute;
  left: 0;
  z-index: 1;
  /* ---- */
  background-color: var(--toggle-nav);
  color: var(--toggle-text);
  width: 10%;
  height: 100vh;
  float: left;
  text-align: center;
}
.side-menu > ul > li {
  list-style: none;
  padding: 20px;
  cursor: pointer;
}
.side-menu > ul > li:hover {
  background-color: var(--picked-color);
}
.side-menu > ul > li:hover a {
  color: white;
}
.side-menu ul > li > a {
  text-decoration: none;
  color: var(--toggle-text);
  font-size: 1.5vw;
}
/* ~~~~~~~~~~ Color Change buttons ~~~~~~~~~~ */
.clr {
  position: relative;
  left: 50%;
  margin-left: -15px;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}
#red {
  background-color: #4322f0;
}
#green {
  background-color: #9a25f7;
}
#blue {
  background-color: #d72de0;
}
#yellow {
  background-color: #ed3824;
}

/* ~~~~~~~~~~~ Dark / Light Mode ~~~~~~~~~~ */
.mode-toggle {
  width: 60px;
  height: 30px;
  border-radius: 25px;
  display: inline-block;
  background-color: var(--toggle-body);
  margin: 20px 0px;
  cursor: pointer;
}
.toggle {
  position: relative;
  top: -1px;
  left: -1px;
  width: 32px;
  height: 32px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: var(--toggle-text);
  animation-duration: 0.5s;
  animation-name: none;
  animation-fill-mode: forwards;
}
@keyframes toDark {
  from {
    left: -1px;
  }
  to {
    left: 29px;
  }
}
@keyframes toLight {
  from {
    left: 29px;
  }
  to {
    left: -1px;
  }
}

/* ~~~~~~~~~~ Container ~~~~~~~~~~ */
.container {
  position: absolute;
  left: 10%;
  z-index: 0;
  /* ---- */
  width: 0;
  height: 100vh;
  background-color: var(--toggle-body);
  color: var(--toggle-text);
  overflow: auto;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--toggle-nav);
}
::-webkit-scrollbar-thumb {
  background: var(--picked-color);
  border-radius: 25px;
}
/* Content Styling */
.left,
.right {
  float: left;
  width: 50%;
  height: 100%;
  opacity: 0;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: home;
}
.heading {
  font-size: var(--heading-font-size);
  padding: 50px;
  margin-top: 15%;
}
.content {
  font-size: var(--content-font-size);
  padding: 50px;
}
.button {
  padding: 15px;
  background: var(--picked-color);
  display: inline;
  font-size: 1.5vw; /* Needs to Change */
  border-radius: 50px;
  border: 2px solid var(--picked-color);
  cursor: pointer;
  margin-left: 50px;
  color: var(--button-font-color);
}
.button:hover {
  color: var(--toggle-text);
  background-color: rgba(0, 0, 0, 0);
}
/* Container Animations */
@keyframes slideOut {
  from {
    left: 10%;
  }
  to {
    left: -90%;
  }
}

@keyframes slideIn {
  from {
    left: 100%;
  }
  to {
    left: 10%;
  }
}
/* Contaienr Content Animation */
@keyframes home {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  from {
    margin-left: -20px;
  }
  to {
    margin-left: 0px;
  }
  from {
    margin-top: -20px;
  }
  to {
    margin-top: 0px;
  }
}
