* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ~~~~~~~~~~~~~~~~~~~ Global Classes ~~~~~~~~~~~~~~~~~~~ */
body {
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.title {
  color: var(--nav-text-dark-mode);
  font-size: var(--phone-title-font-size);
  padding: 20px;
}
.content {
  color: var(--nav-text-dark-mode);
  font-size: var(--phone-content-font-size);
  padding: 20px;
}
.button {
  padding: 2px 5px;
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-bottom: 50px;
  z-index: -1;
  display: none;
  background-color: var(--pages-dark-mode);
  overflow: auto;
}
svg {
  display: none;
}
.footer {
  width: 100%;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
}
.overlay {
  display: none;
}
/* ~~~~~~~~~~~~~~~~~~~ Nav bar + Logo ~~~~~~~~~~~~~~~~~~~ */
.side-menu {
  width: 100%;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: var(--side-menu-dark-mode);
  color: var(--nav-text-dark-mode);
  padding: 10px;
}
/* _____ Navigation Links _____ */
.side-menu ul {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.side-menu a {
  font-size: var(--phone-nav-icons-font-size);
}
.side-menu span {
  display: none;
}
/* _____ Logo _____ */
.logo {
  width: 10%;
}
.logo a {
  width: 70px;
  height: 70px;
}
.logo img {
  width: 100%;
  /* height: 100%; */
}
/* _____ Mode _____ */
.mode-toggle {
  display: none;
}
/* _____ Color Palette _____ */
.color-palette {
  width: 10%;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clr {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1;
}
.color-palette > #picked-color {
  z-index: 2;
  background-color: var(--picked-color);
}
.red-open {
  top: -40px;
}
.blue-open {
  top: -80px;
}
.yellow-open {
  top: -120px;
}
.green-open {
  top: -160px;
}
/* ~~~~~~~~~~~~~~~~~~~ Home Container Classes ~~~~~~~~~~~~~~~~~~~ */
#homeCnt {
  width: 100%;
  overflow: auto;
  display: block;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro {
  /* padding: var(--phone-sub-container-padding); */
  text-align: center;
}
.intro > .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: var(--phone-flex-gap); */
}
/* Project Preview container */
.project-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 100px 0px;
}
.carousel-items {
  width: 100vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.carousel-item {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 1s linear;
  position: absolute;
  align-self: center;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}
.item0 {
  z-index: 10;
  transform: translate(-50px, 0px);
}
.item1 {
  z-index: 9;
  transform: translate(50px, 0px);
}
.item2 {
  z-index: 8;
  transform: translate(50px, 100px);
}
.item3 {
  z-index: 7;
  transform: translate(-50px, 100px);
}
.item4 {
  z-index: 6;
  transform: translate(-100px, 25px) scale(0.7);
  filter: var(--carousel-mid-item-blur);
}
.item5 {
  z-index: 5;
  transform: translate(100px, 25px) scale(0.7);
  filter: var(--carousel-mid-item-blur);
}
.item6 {
  z-index: 4;
  transform: translate(100px, 75px) scale(0.7);
  filter: var(--carousel-mid-item-blur);
}
.item7 {
  z-index: 3;
  transform: translate(-100px, 75px) scale(0.7);
  filter: var(--carousel-mid-item-blur);
}
.item8 {
  z-index: 2;
  transform: translate(-150px, 50px) scale(0.5);
  filter: var(--carousel-back-item-blur);
}
.item9 {
  z-index: 1;
  transform: translate(150px, 50px) scale(0.5);
  filter: var(--carousel-back-item-blur);
}

.handler {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  color: var(--nav-text-dark-mode);
}
.handler i {
  font-size: 50px;
}
.merchandise-preview img {
  display: none;
}

/* Merchandise Preview container */
.merchandise-preview {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.merchandise-preview > .merch-sub-left {
  display: none;
}
.merch-sub-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: var(--phone-flex-gap); */
}
/* ~~~~~~~~~~~~~~~~~~~ About Container Classes ~~~~~~~~~~~~~~~~~~~ */
.about-heading {
  font-size: var(--phone-title-font-size);
  padding: 20px;
  text-align: center;
}
#speciality::before {
  content: '| ';
}
#speciality::after {
  content: ' |';
}
#about-content h2 {
  font-size: 22px;
  font-weight: bold;
}
.closed {
  height: 100px;
  overflow: hidden;
  background: var(--read-more-background);
}
.specs {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.spec-heading {
  font-size: var(--phone-spec-heading-font-size);
  font-weight: bold;
}
.spec-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  box-shadow: 0px 2px 5px 0px var(--picked-color);
}
.spec-container > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.left-spec {
  padding: 0px 10px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}
.spec-title {
  font-weight: bold;
}
.right-spec > li:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
/* ~~~~~~~~~~~~~~~~~~~ Projects Container Classes ~~~~~~~~~~~~~~~~~~~ */
.projects-outter-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.filter {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.projects {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.projects > img {
  width: 100px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  z-index: 10;
}
.overlay > * {
  width: 100%;
}
.inspect {
  display: none;
}
.prj-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.prj-close {
  align-self: center;
  border: 1px solid white;
  padding: 10px;
  display: flex;
  gap: 10px;
  border-radius: 9px;
}
.prj-close::after {
  content: 'Close';
}
/* ~~~~~~~~~~~~~~~~~~~ Merchandise Container Classes ~~~~~~~~~~~~~~~~~~~ */
.merch-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.item {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.item:not(:first-child) {
  border-top: 2px solid rgba(255, 255, 255, 0.25);
}
.item:nth-child(2) {
  flex-direction: column !important;
}
.item img {
  width: 100%;
}
.merch-item-left,
.merch-item-right {
  width: 100%;
}
/* ~~~~~~~~~~~~~~~~~~~ Contact Container Classes ~~~~~~~~~~~~~~~~~~~ */
form {
  width: 100%;
  padding-bottom: 100px;
}
form input {
  padding: 10px;
  border-radius: 50px;
}
#phone_code {
  width: 100px;
}
.form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.form-element {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.phone-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}
form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
  border-radius: 25px;
  padding: 10px;
}
.form-buttons {
  width: 100%;
  display: flex;
}
.form-buttons input {
  width: 50%;
  border-radius: 0;
}
#phone_code {
  background-color: transparent;
  color: white;
}

/* Prosorines allages */
.footer {
  display: none;
}
